html {
    background-color: #0099B9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 20px;
}

.container-duas-colunas {
    display: flex;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.coluna-lateral {
    flex: 1;
    font-family: 'Arial';
    color: #413733;
    padding: 40px 20px;
    border: 2px solid #413733;
    background-color: #ECECEC;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coluna-principal {
    flex: 2.5;
    font-family: 'Arial';
    color: #413733;
    padding: 50px 40px;
    border: 2px solid #413733;
    background-color: #ECECEC;
    border-radius: 8px;
}

.coluna-lateral h2 {
    font-size: 20px;
    color: #0099B9;
    border-bottom: 2px solid #413733;
    padding-bottom: 10px;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-links a {
    color: #413733;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.2s;
}

.menu-links a:hover {
    background-color: #0099B9;
    color: white;
}

.info-extra {
    margin-top: auto;
    background-color: #413733;
    color: #ECECEC;
    padding: 15px;
    border-radius: 6px;
}

.info-extra span {
    display: block;
    font-weight: bold;
    color: #00E2FC;
}

.coluna-principal h1 {
    font-size: 30px;
    color: #0099B9;
    margin-bottom: 25px;
}

.conteudo-post {
    margin-bottom: 25px;
}

.conteudo-post h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.conteudo-post p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 10px;
}

.botao-ler-mais {
    display: inline-block;
    background-color: #0099B9;
    color: #413733;
    padding: 12px 40px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.botao-ler-mais:hover {
    background-color: #00E2FC;
    color: #413733;
}

span {
    font-weight: bold;
}